@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    size: 16px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-style: italic;

}

#header {
    height: 100%;
    padding: 5rem 5rem 0 5rem;
    background-color: #fff;
    color: #1A1B1E;
}

/* #animation {
    text-align: center;
    margin: 2rem 5rem 0;
    height: 30rem;
} */

.header-border {
    min-height: 80vh;
    border-style: solid;
    border-width: 2px;
    border-color: #1A1B1E;
}

.navbar {
    display: inline;
    position: relative;
    top: -0.6rem;
    left: 75%;
    padding-left: 0;
    background-color: #fff;
}

.navbar li {
    font-weight: 700;
    padding: 0 1rem;
    display: inline;
}

.navbar li a{
    text-decoration: none;
    color: #1A1B1E;
}

.navbar li a:hover{
    text-decoration: underline;
    color: #1A1B1E;
}
.name {
    text-align: center;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10rem;
}


.description {
    width: 1000%;
    position: relative;
    list-style: none;
    color: #636B71;
    font-style: italic;
    font-size: 2rem;
    margin-left: -2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.description li {
    padding: 0 0.5rem;
    display: inline;
}

.animation-container {
    overflow: hidden;
    margin: 0 3rem;
    min-height: 10rem;
    max-height: 30rem;
}

#animation {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#animation div {
    /*position: absolute;*/
    width: 4rem;
    height: 4rem;
    border: 2px solid #1A1B1E;
    border-width: 0 0 2px 0;
    background-color: transparent;
  }

#work {
    min-height: 200vh;
    padding: 5rem;
}

.work-container {
    height: 100%;
    
}

/* 1281 and lower */
@media screen and (max-width: 1281px) {
    .navbar {
        left: 70%
    }
}

@media screen and (max-width: 1281px) {
    .navbar {
        left: 65%
    }
}

@media screen and (max-width: 961px) {
    .navbar {
        left: 60%
    }
}

@media screen and (max-width: 852px) {
    .navbar {
        left: 55%
    }
}

@media screen and (max-width: 751px) {
    .navbar {
        left: 45%
    }
}

@media screen and (max-width: 641px) {
    .navbar {
        left: 20%
    }
}


/* smartphones, iPhone, portrait 480x320 phones */
@media (min-width:320px)  { }

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width:481px)  { }

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px)  { }

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px)  { 
}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {  }

/* hi-res laptops and desktops */
@media (min-width:1281px) {  }