@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');



html {
    size: 16px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
    color: #000100;
}

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background-color: #F8F8F8;
    overflow-x: hidden;
}

div#rectangle1 {
    overflow: hidden;
    position: absolute;
    z-index: -1000;
    width: 20rem;
    height: 60rem;
    background-color: lightblue;
    /* Rotate div */
    -ms-transform: rotate(60deg); /* IE 9 */
    -webkit-transform: rotate(60deg); /* Chrome, Safari, Opera */
    transform: rotate(60deg);
}

div#rectangle2 {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: -40%;
    z-index: -1001;
    width: 20rem;
    height: 60rem;
    background-color: #94C5CC;
    /* Rotate div */
    -ms-transform: rotate(50deg); /* IE 9 */
    -webkit-transform: rotate(50deg); /* Chrome, Safari, Opera */
    transform: rotate(50deg);
}

.nav {
    padding: 2rem;
    background-color: #F8F8F8;
    overflow: hidden;
}

.nav a {
    float: left;
    text-align: center;
    text-decoration: none;
    color: #000100
}

.nav-right {
    margin-right: 2rem;
    float: right;
}

.nav-right a {
    padding: 0 1rem;
}

#home-link {
    margin-left: 2rem;
    font-size: 1.5rem;
    font-style: italic;
}

#home {
    overflow: hidden;
}

.home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
}

.name {
    font-size: 5rem;
    font-weight: 700;
    text-align: center;
}

.sub {
    font-size: 2rem;
    text-align: center;
}

.work-container {
    padding: 0 5rem;
}

.project {
    filter: drop-shadow(5px 5px 1rem #8A90A1 );
    margin: 8rem 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #C8DEEE;
}

.project-left {
    background-color: #fff;
    flex: 30%
}

.project-right {
    flex: 70%
}

.image-container {
    text-align: center;
    padding: 3rem;
}

#project1 >.project-left >.image-container,
#project2 >.project-left >.image-container,
#project3 >.project-left >.image-container {
    background-color: #fff;
}


#project3 >.project-left >.image-container > a > .project-image {
    max-width: 10rem;
    width: 100%;
}

.desc-container {
    padding: 3rem;
}

.project-image {
    min-width: 10rem;
    max-width: 18rem;
    width: 100%;
}

.project-title {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.project-title a {
    color: #19384E;
    text-decoration: none;
}

.project-desc {
    color: #4C515F;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

@media (max-width:801px)  {
     /* tablet, landscape iPad, lo-res laptops ands desktops */ 

     .project-left {
         flex: 100%
     }

     .project-right {
         flex: 100%
     }
}