@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    size: 16px;
    font-family: 'Arimo', sans-serif;
    font-weight: 400;
}

* {
    box-sizing: border-box;
  }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

h1 {
    font-style: italic;

}

#header {
    height: 100%;
    padding: 2rem 5rem 0 5rem;
    background-color: #fff;
    color: #1A1B1E;
}


.header-border {
    min-height: 80vh;
    border-style: solid;
    border-width: 2px;
    border-color: #1A1B1E;
}

.navbar {
    display: inline;
    position: relative;
    top: -0.6rem;
    left: 75%;
    padding-left: 0;
    background-color: #fff;
}

.navbar li {
    font-weight: 700;
    padding: 0 1rem;
    display: inline;
}

.navbar li a{
    text-decoration: none;
    color: #1A1B1E;
}

.navbar li a:hover{
    text-decoration: underline;
    color: #1A1B1E;
}
.name {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 10rem;
}


.description {
    width: 1000%;
    position: relative;
    list-style: none;
    color: #636B71;
    font-style: italic;
    font-size: 2rem;
    margin-left: -2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
}

.description li {
    padding: 0 0.5rem;
    display: inline;
}

.animation-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    margin: 2rem 3rem;
}

#animation {
    max-height: 30rem;
    min-height: 20rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#animation div {
    /*position: absolute;*/
    width: 100%;
    height: 100%;
    min-height: 20rem;
    max-height: 30rem;
    border: 1px solid #1A1B1E;
    background-color: transparent;
  }

  #animation div:hover {
    /*position: absolute;*/
    background-color: #dcdfe2;
  }

#work {
    min-height: 200vh;
    padding: 5rem;
}

.work-container,
.about-container {
    height: 100%;
    border-top: 2px solid #1A1B1E;
    padding: 1rem;
    
}

.work-container h1,
.about-container h1 {
    display: inline;
    position: relative;
    top: -2.2rem;
    left: -1rem;
    background-color: #fff;
    padding-right: 1rem;
}

.project {
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.project-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.number {
    font-size: 1rem;
}

.project-image {
    width: 100%;
    max-width: 50rem;
}

.project-description {
    text-align: justify;
    margin: 0 auto;
    max-width: 50rem;
}

.image-container {
    margin-bottom: 1rem;
}

#about {
    min-height: 100vh;
    padding: 5rem;
    background-color: #fff;
    color: #1A1B1E;
}

#contact {
    min-height: 100vh;
    padding: 5rem;
    background-color: #fff;
    color: #1A1B1E;
}

/* 1281 and lower */
@media screen and (max-width: 1281px) {
    .navbar {
        left: 70%
    }
}

@media screen and (max-width: 1281px) {
    .navbar {
        left: 65%
    }
}

@media screen and (max-width: 961px) {
    .navbar {
        left: 60%
    }
}

@media screen and (max-width: 852px) {
    .navbar {
        left: 55%
    }
}

@media screen and (max-width: 751px) {
    .navbar {
        left: 45%
    }
}

@media screen and (max-width: 641px) {
    .navbar {
        left: 20%
    }
}

/***********************NAME BREAKPOINTS*****************************/

@media only screen and (min-width: 1635px) {
    .name {
        font-size: 10rem;
    }
}

@media only screen and (max-width: 1634px) {
    .name {
        font-size: 9rem;
    }
}

@media only screen and (max-width: 1478px) {
    .name {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 1340px) {
    .name {
        font-size: 7rem;
    }
}

@media only screen and (max-width: 1200px) {
    .name {
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1050px) {
    /* .animation-container {
        height: 25rem;
    } */
    .name {
        font-size: 5rem;
    }
}

@media only screen and (max-width: 935px) {
    .name {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 740px) {
    .name {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 600px) {
    .name {
        font-size: 2rem;
    }
}

/***********************END*****************************/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* .animation-container {
        height: 10rem;
    } */
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
    /* .animation-container {
        height: 15rem;
    } */
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    /* .animation-container {
        height: 20rem;
    } */
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
}
