
@-webkit-keyframes description {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
}

@keyframes description {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }

  100% {
    -webkit-transform: translateX(-15.25rem);
    transform: translateX(-15.25rem);
  }
}

.description-container {
    overflow: hidden;
}

.description {
    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: description;
           animation-name: description;
    -webkit-animation-duration: 7s;
            animation-duration: 7s;

}
